@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Lato');
body{
    margin:0;
    font-family: 'Lato', sans-serif;
    background-color: #eee;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    min-height:100vh;
}
.title{
  font-size:60px;
  margin-bottom:25px;
  color:#333
}
.title:first-letter{
  color:rgba(0,0,255,0.5)
}
table {
    width: 70%;
    border-collapse: collapse;
}
td {
    padding: 20px;
    font-size: 16px;
}

thead td {
  border-bottom: 1px solid rgba(0,0,0,0.5);
  text-transform:uppercase;
  color:#eee;
}
thead tr{
  background-color:#222;
 
}
 td{
transition:0.1s linear transform, 0s linear background;
    border-right: 1px solid rgba(0,0,0,0.5);
  }
  td:last-of-type {
    border-right:none; 
}
tbody tr:hover{
  background-color:rgba(0,0,255,0.2);
}